<h1>Edit a Person</h1>
<%= form_for @person do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br />
  <br />
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br />
  <br />
   <%= f.label :age %>
  <%= f.text_field :age %>
  <br />
  <br />
  <%= f.label :hair_color %>
  <%= f.text_field :hair_color %>
  <br />
  <br />
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  <br />
  <br />
  <%= f.submit %>
<% end %>
